/*  your css code here. If applicable */
.container{
	display:inline;
	background-color:#D3D3D3;
	padding:10px;
	
}

.container ul{
	display: flex;
}

.container li{
	margin-right:1rem;
	list-style:none;
}